/* Styling the Body element i.e. Color, 
        Font, Alignment */ 
        body {
            background-color: #05c46b;
            font-family: Verdana;
            text-align: center;
        }
        /* Styling the Form (Color, Padding, Shadow) */
        form {
            background-color: #fff;
            max-width: 500px;
            margin: 50px auto;
            padding: 30px 20px;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
        }
        /* Styling form-control Class */
        .form-control {
            text-align: left;
            margin-bottom: 25px;
        }
        /* Styling form-control Label */ 
        .form-control label {
            display: block;
            margin-bottom: 10px;
        }

