/* Styling the Body element i.e. Color, 
        Font, Alignment */ 
        body {
            background-color: #05c46b;
            font-family: Verdana;
            text-align: center;
        }

        