* {
    margin: 0;
    padding: 0; 
    border: 0;
  }
  html, 
body { 
  min-height: 100%;
  background: #2d2d2f;
}
.clock {
    position: relative;
    height: 200px;
    width: 200px;
    background: #fff;
    box-sizing: border-box;
    border: 10px solid cadetblue;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  .clock .top {
    position: absolute;
    width: 3px;
    height: 8px;
    background: #262626;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .clock .right {
    position: absolute;
    width: 8px;
    height: 3px;
    background: #262626;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto 0;
  }
  .clock .bottom {
    position: absolute;
    width: 3px;
    height: 8px;
    background: #262626;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }