*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#container{
    height: 100vh;
    display: flex;
    flex-direction: row;
}
#left-pane{
    padding: 2rem;
    height: 100%;
    width: 55vw;
    background-color: #099dfd;
    align-items: center;
    justify-content: center;
}
#illustration-container{
    border-radius: 2000px;
    background-color: rgb(255, 255, 255, 0.3);
    width: 300px;
    height:300px;
    align-items: center;
    justify-content: center;
    
}
#illustration-container img{
    padding: 2rem;
    align-items: center;
    justify-content: center;
}