.hover-menu {
    position: relative;
    overflow: hidden;
    margin: 8px;
    min-width: 340px;
    max-width: 480px;
    max-height: 290px;
    width: 100%;
    background: #000;
    text-align: center;
    box-sizing: border-box;
  }

  .hover-menu * {
    box-sizing: border-box;
  }

  .hover-menu img {
    position: relative;
    max-width: 100%;
    top: 0;
    right: 0;
    opacity: 1;
    transition: 0.3s ease-in-out;
  }

  .hover-menu div {
    position: absolute;
    top: 0;
    left: -120px;
    width: 120px;
    height: 100%;
    padding: 8px 4px;
    background: #000;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  